.list{
    margin-left: 63%;
    color: #ffffff;
}
.colorNav{
    background-color: #105e73 !important;
    color: #ffffff !important;
}

.colorTextNav{
    color: #ffffff !important;
}

.titleBook{
    margin-top: 5% !important;
    color: #707070 !important;
}